<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div *ngFor="let field of fields">
    <label [for]="field.name">{{ field.label }}</label>

    <input *ngIf="field.type === 'text'" [id]="field.name" [formControlName]="field.name" type="text">

    <select *ngIf="field.type === 'select'" [id]="field.name" [formControlName]="field.name">
      <option *ngFor="let option of field.options" [value]="option">{{ option }}</option>
    </select>

    <div *ngIf="field.type === 'radio'" [id]="field.name" [formControlName]="field.name">
      <label *ngFor="let option of field.options">
        <input type="radio" [value]="option" [name]="field.name"> {{ option }}
      </label>
    </div>
  </div>

  <button type="submit">Submit</button>
</form>
